.app-wrapper {
  background-color: rgb(18, 18, 18);
  min-height: 100vh;
}

.search-title {
  color: white;
  font-size: 26px;
  align-items: center;
  display: flex;
  color: rgb(255, 255, 255);
}

.search-gifs-wrapper {
  div {
    max-height: 280px;
  }
}
